<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../css/cssMain.css"/>

</head>
<body>
<!--<h2 th:text="'Hello, ' + ${name} + '!'">awdaw</h2> --> 

	<div class="block v1">
		<div class="imgdiv">
			<img src="../images/1.jpg" width="100%">
		</div>
		<div class="text">Название: Ferrari 488 GTB<br/>Тип двигателя: V8<br/>Мощность: 670 л.с.<p>Цена: 17 млн. руб.</p></div>
		<div class="button">
			<form action="Applying.html">
				<button>Арендовать</button>
			</form>
		</div>
	</div>
	<div class="block v2">
		<div class="imgdiv">
			<img src="../images/2.jpg" width="100%">
		</div>
		<div class="text">Название: Mercedes Gelandewagen G-Class<br/>Тип двигателя: V8<br/>Мощность: 422 л.с.<p>Цена: 5,6 млн. руб.</p></div>
		<div class="button">
			<form action="Applying.html">
				<button>Арендовать</button>
			</form>
		</div>
	</div>
	<div class="block v3">
		<div class="imgdiv">
			<img src="../images/3.jpg" width="100%">
		</div>
		<div class="text">Название: Porsche 911 Carrera S<br/>Тип двигателя: V6<br/>Мощность: 450 л.с.<p>Цена: 8,1 млн. руб.</p></div>
		<div class="button">
			<form action="Applying.html">
				<button>Арендовать</button>
			</form>
		</div>
	</div>
</body>
</html>